.skill{
    color: white;
    font-family: "IM Fell English";
    font-weight: bold;
    letter-spacing: 2px;

}


.section h2{
    margin-top: -10px;
}
::-webkit-scrollbar{
    background-color: transparent;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}